    /*===================Estilos Index==================*/

/*Selector Universal*/

*{
    margin: 0px;
    padding: 0px;
    /*Ajusta relleno, todo=box-sizing*/
    box-sizing: border-box;
}

/*===================% = Tamaño de la pantalla=====px = Pixeles=============*/
#logogym{
    width: 15%;
    /*=====La imagen hacia la izquierda del texto===========*/
    float: left;
    margin: 0px 0px; /* Ajusta la cantidad de espacio vertical según tus necesidades */
    padding: 1%;
}
.h1h{
    /*========Tipo de letra===========*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*========Tamaño de la letra===========*/
    font-size: 55px;
    background: linear-gradient(to right, #ecdcff, #ef18cf);
    -webkit-background-clip: text; /* Para navegadores webkit (Chrome, Safari) */
    background-clip: text;
    color: transparent; /* Oculta el color del texto original */
    font-weight: bold; /* Establece el peso de la fuente */
    /*=======Para quitar las Lineas============*/
    text-decoration: none;
    /*========Espaciado entre las letras============*/
    letter-spacing: 2px;
    /*========Siempre se usa el porcentaje que los pixeles============*/
    padding: 3%;
    text-align: center;
    width: 100%;
    margin: 1px -100px;/*Este es para alinear izquierda a derecha*/
    
}
     

.cerrar{
    max-width: 100%; 
    background-color:#000000e3;
    /*=======Controla Desvordamiento de contenido============*/
    overflow: hidden;
    display: flex;
    justify-content: flex-end; /* Alinea el contenido a la derecha */
}

.cerrar a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding:5px 10px;
}  
.cerrar a:hover{
    background-color:rgba(240, 248, 255, 0.863);
    color: rgb(0, 0, 0);
    transition: 01s;
    transform: scale (2.0);
}
.menu{
    width: 200px;
    height: 100%;
    position: fixed;
    top: 1;
    left: 0;
    background: linear-gradient(to right, #febaf4, #ffffff);
    padding-top: 100px;
}
.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menu li {
    margin-bottom: 50px;
    border-bottom: 4px solid #535353;
}
.menu a {
    display: block;
    color: rgb(19, 19, 19);
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: 10px;
}

.menu a:hover {
    background-color:rgba(255, 255, 255, 0.863);
    color: rgb(160, 233, 255);
    transition: 01s;
    transform: scale (2.0);
}
.contenido {
    margin-left: 240px; /* Ancho del menú + un poco de espacio */
    padding: 120px;
}
/* Estilo para el encabezado */
h2 {
    margin-top: 30px;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Estilo para el contenedor del formulario */
  .formulario {
    width: 400px;
    margin: 0 auto;
  }
  
  /* Estilo para los campos de entrada */
  input[type="text"] {
    width: 100%;
    padding: 7px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Estilo para etiquetas */
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  button {
    background-color: #4c4caf;
    color: white;
    padding: 10px 50px;
    margin: 1px 261px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1px;
  }
  .mensaje_exito {
    color: rgb(3, 3, 3);
    font-weight: bold;
    
    position: fixed;
    top: 200px; /* ajusta según tu preferencia */
    right: 10px; /* ajusta según tu preferencia */
    padding: 5px;
}

.mensaje_error {
    color: red;
    font-weight: bold;
    
    position: fixed;
    top: 220px; /* ajusta según tu preferencia */
    right: 10px; /* ajusta según tu preferencia */
    padding: 5px;
}
